{% for elem in elementos %}
   
    {{ elem.name }}<br />
    ...
{% endfor %}

<div class="pagination" align="center">
    <span class="step-links">
        {% if elementos.has_previous %}
            <a href="?page={{ elementos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ elementos.number }} of {{ elementos.paginator.num_pages }}.
        </span>

        {% if elementos.has_next %}
            <a href="?page={{ elementos.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
