{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="page-header text-center">
        <h3>Breadcrumbs</h3>
    </div>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/breadcrumbs">Home</a></li>
        <li class="breadcrumb-item"><a href="/breadcrumbs/link1">Link 1</a></li>
        <li class="breadcrumb-item"><a href="/breadcrumbs/link2">Link 2</a></li>
        <li class="breadcrumb-item active" aria-current="page">Link 3</li>
      </ol>
    </nav>
</div>
    {% block links %}
<div class="links">
    <a href="link1">LINK1</a>
    <a href="link2">LINK2</a>
    <a href="link3">LINK3</a>
</div>

{% endblock %}
{% endblock %}
