{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="page-header text-center">
        <h3>Breadcrumbs</h3>
    </div>

    {% load django_bootstrap_breadcrumbs %}

    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% breadcrumb "Home" "/breadcrumbs" %}
    {%  endblock %}

    {% render_breadcrumbs %}


  <form class="container text-center" action="{% url 'breadcrumbs-patron:index' %}" method="POST">
        <div class="row">
          {% csrf_token %}
          <div class="col-md-4 mb-2 offset-md-3">
            <input type="text" class="form-control" id="newElem" name="newElem" placeholder="Elemento Nuevo" required>
          </div>
          <button type="submit" class="btn btn-secondary col-md-2 mb-2">Agregar</button>
        </div>
    </form>

</div>
    {% block links %}
<div class="links">
    <a href="link1">LINK1</a>
    <a href="link2">LINK2</a>
    <a href="link3">LINK3</a>
</div>

{% endblock %}
{% endblock %}
