{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Breadcrumbs</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Source+Sans+Pro:400,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'slick/slick.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'slick/slick-theme.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'prism/prism.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'patron/style.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="http://google.com">Home</a>
      <a class="breadcrumb-item" href="http://usb.ve">Library</a>
      <span class="breadcrumb-item active">Data</span>
    </nav><br>
    <h3 style="text-align: center;">Para lograr este breadcrumbs en su página web, sólo copie el siguiente código:</h3>
    <div class="code">
      <pre class="language-html code-toolbar"><code class="language-html">{{ htmlCode }}</code></pre>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="{% static 'slick/slick.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'prism/prism.js' %}" type="text/javascript"></script>
    <script src="{% static 'patron/script.js' %}" type="text/javascript"></script>
  </body>
</html>