{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="page-header text-center">
        <h2>Contenido</h2>
    </div>

    <form action="{% url 'carrusel-patron:new_content' pk %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {% for form in forms%}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <hr style="border-width: 2px; border-color: #999999">
            <br>
        {% endfor %}
        <button type="submit" class="btn btn-default">Crear Carrusel</button>
    </form>
</div>
    
{% endblock %}
